body {
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
    webkit-tap-highlight-color: #fed136;
}
p {
    font-size: 14px;
    line-height: 1.75;
}
a {
    color: #fed136;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
.bg-light-gray {
    background-color: #f7f7f7;
}
.btn-xl {
    background-color: #fed136;
    border-color: #fed136;
    border-radius: 3px;
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active {
    background-color: #fec503;
    border-color: #f6bf01;
    color: #fff;
}
.btn-xl:active {
    background-image: none;
}
.navbar-default {
    background-color: #222;
    border-color: transparent;
}
.navbar-default .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}
.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .nav li a {
    color: #fff;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #fed136;
    outline: 0;
}
.main-header {
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-attachment: scroll;
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    color: #fff;
    text-align: center;
}
header .intro-text {
    background-repeat: no-repeat;
    padding-bottom: 100px;
    padding-top: 150px;
}
header .intro-text .intro-background {
    background: rgba(176, 36, 40, .7);
    background-repeat: no-repeat;
    padding-bottom: 50px;
    padding-top: 100px;
}
header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 0;
}
section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
}
section#contact .section-heading {
    color: #fff;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact .text-danger {
    color: #e74c3c;
}
footer {
    padding: 25px 0;
    text-align: center;
}
footer span.copyright {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    text-transform: none;
}
footer ul.quicklinks {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    background-color: #222;
    border-radius: 100%;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    outline: 0;
    transition: all .3s;
    width: 40px;
}

/* Login */
.form-custom-login, .form-custom-login input, .form-custom-login button {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.form-custom-login {
    background: #FFF;
    margin: 0 auto 100px;
    max-width: 300px;
    padding: 30px;
    position: relative;
    text-align: center;
    z-index: 1;
}
.form-custom-login input {
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0 0 15px;
    outline: 0;
    padding: 15px;
    width: 100%;
}
.form-custom-login button {
    -webkit-transition: all 0.3 ease;
    border: 0;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    outline: 0;
    padding: 15px;
    transition: all 0.3 ease;
    width: 100%;
}
.container-custom-login {
    margin: 0 auto;
    max-width: 300px;
    position: relative;
    z-index: 1;
}
.container-custom-login:before,
.container:after {
    clear: both;
    content: "";
    display: block;
}
.container-custom-login .info {
    margin: 50px auto;
    text-align: center;
}
.main-container-custom-login {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #ccc;
    font-family: Roboto, sans-serif;
    height: 100%;
}
.main-container-custom-login:before {
    background: rgba(255, 255, 255, 0.8);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
.card-container {
    -moz-perspective: 800px;
    -o-perspective: 800px;
    -webkit-perspective: 800px;
    margin-bottom: 30px;
    perspective: 800px;
}
.card-container:not(.manual-flip):hover .card {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card {
    -moz-transform-style: preserve-3d;
    -moz-transition: 0 .5s;
    -o-transform-style: preserve-3d;
    -o-transition: 0 .5s;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0 .5s;
    background: none repeat scroll 0 0 #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #444;
    position: relative;
    transform-style: preserve-3d;
    transition: transform .5s;
}
.card-container,
.front {
    border-radius: 4px;
    height: 450px;
    width: 100%;
}
.card .cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 4px 4px 0 0;
    min-height: 210px;
    overflow: hidden;
}
.card .content {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
    padding: 10px 20px 20px;
}
.card .content .main {
    min-height: 130px;
}
.card .content .main .name {
    color: #BF3228;
}
.card .name {
    font-size: 22px;
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    text-transform: capitalize;
}
.card .profession {
    color: #999;
    margin-bottom: 20px;
    text-align: center;
}
.card .footer {
    border-top: 1px solid #EEE;
    color: #999;
    margin: 30px 0 0;
    padding: 10px 0 0;
    text-align: center;
}

@media (min-width: 768px) {
    .col-sm-10 {
        width: 100%;
    }
}

.padding0 {
    padding: 0;
}
.paddingl0 {
    padding-left: 0;
}
.tlp-equal-height {
    margin-bottom: 15px;
}
.tlp-food-menu .title {
    overflow: hidden;
    position: relative;
}
.tlp-food-menu h3 {
    border: none;
    box-shadow: none;
    float: left;
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 10px;
    width: 75%;
}
.tlp-food-menu h3 a {
    box-shadow: none;
    text-decoration: none;
}
.tlp-food-menu span.price {
    float: right;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -1px;
    text-align: right;
}
.tlp-food-menu p {
    float: left;
    margin-bottom: 0;
}
.tlp-food-menu .image-area img {
    height: auto;
    max-width: 130px;
}
.tlp-food-menu .food-item {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
    padding: 5px;
}
.place-form-name,
.place-form-description,
.place-form-more-description,
.menu-form-name,
.menu-form-price,
.menu-form-description {
    line-height: 28px;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
}
.place-form-name,
.menu-form-name {
    font-size: 22px;
}
.menu-form-name,
.menu-form-price,
.menu-form-description {
    line-height: 28px;
    margin: 10px 0 0;
    text-align: left;
    width: 100%;
}
.menu-form-name {
    width: 75%;
}
.menu-form-price {
    max-width: 70px;
    text-align: right;
}
.menu-form-description,
.place-form-more-description {
    border: 1px solid #d6d6d6;
    display: inline-block;
    max-height: 140px;
    min-height: 41px;
}
.form-image-area {
    padding-top: 10px;
}
[contenteditable]:empty:not(:focus):before {
    content: attr(data-placeholder);
}
a,
a:hover,
a:focus,
a:active,
.btn:focus,
.btn:active,
.btn:active:focus {
    outline: 0;
}
a:hover,
a:focus,
a:active,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active {
    color: #fec503;
}
.btn-xl[disabled],
.btn-xl[disabled]:hover,
.btn-xl[disabled]:focus,
.btn-xl[disabled]:active,
.navbar-default .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}
section#contact::-webkit-input-placeholder,
section#contact:-moz-placeholder,
section#contact::-moz-placeholder,
section#contact:-ms-input-placeholder {
    color: #bbb;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
::-moz-selection,
::selection {
    background: #fed136;
    text-shadow: none;
}
img::selection,
img::-moz-selection {
    background: 0 0;
}
.tlp-food-menu *,
.tlp-food-menu:before,
.tlp-food-menu:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.container,
.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.place-form-description,
.place-form-more-description,
.place-form-logo,
.menu-form-image,
.menu-form-price {
    font-size: 14px;
}
@media min-width 768px {
    .navbar-default {
        -moz-transition: padding .3s;
        -webkit-transition: padding .3s;
        background: rgba(34, 34, 34, .9);
        border: 0;
        padding: 10px 0;
        transition: padding .3s;
    }
    .navbar-default .navbar-brand {
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        font-size: 2em;
        transition: all .3s;
    }
    header .intro-text {
        padding-bottom: 200px;
        padding-top: 300px;
    }
    header .intro-text .intro-lead-in {
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-style: italic;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header .intro-text .intro-heading {
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
    }
    section {
        padding: 60px 0;
    }
    .container {
        width: 750px;
    }
    .tlp-col-sm-1,
    .tlp-col-sm-2,
    .tlp-col-sm-3,
    .tlp-col-sm-4,
    .tlp-col-sm-5,
    .tlp-col-sm-6,
    .tlp-col-sm-7,
    .tlp-col-sm-8,
    .tlp-col-sm-9,
    .tlp-col-sm-10,
    .tlp-col-sm-11,
    .tlp-col-sm-12 {
        float: left;
    }
    .tlp-col-sm-11 {
        width: 91.66666667%;
    }
    .tlp-col-sm-10 {
        width: 83.33333333%;
    }
    .tlp-col-sm-9 {
        width: 75%;
    }
    .tlp-col-sm-8 {
        width: 66.66666667%;
    }
    .tlp-col-sm-7 {
        width: 58.33333333%;
    }
    .tlp-col-sm-6 {
        width: 50%;
    }
    .tlp-col-sm-5 {
        width: 41.66666667%;
    }
    .tlp-col-sm-4 {
        width: 33.33333333%;
    }
    .tlp-col-sm-3 {
        width: 25%;
    }
    .tlp-col-sm-2 {
        width: 16.66666667%;
    }
    .tlp-col-sm-1 {
        width: 8.33333333%;
    }
    .col-sm-10,
    .tlp-col-sm-12 {
        width: 100%;
    }
}
@media max-width 767px {
    .paddingl0 {
        padding-left: 0;
        padding-right: 0;
    }
    .tlp-food-menu .title {
        padding-top: 15px;
    }
}
@media max-width 768px {
    .tlp-food-menu h3 {
        font-size: 20px;
    }
    .tlp-food-menu span.price {
        font-size: 16px;
    }
    .tlp-food-menu .food-item {
        height: 300px;
    }
}
@media min-width 992px {
    .container {
        width: 970px;
    }
    .tlp-food-menu .food-item {
        height: 107px;
    }
}
@media min-width 1200px {
    .container {
        width: 1170px;
    }
    .tlp-food-menu .food-item {
        height: 107px;
    }
}

.module-cart {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

}
.module-cart header {
    text-align: center;
}
.module-cart header h2 {
    color: #ccc;
}
.module-cart .cart-items {
    text-align: center;
}
.module-cart .cart-item {
    margin-left: 0px;
}
.module-cart .cart-info {
    border-top: 1px solid #d6d6d6;
    min-height: 30px;
    font-size: 20px;
}
.module-cart .label {
    float: left;
    text-align: left;
    color: #000;
}
.module-cart .value {
    float: right;
    text-align: right;
    color: #000;
}

#sticky {
    padding: 0.5ex;
    color: #fff;
    font-size: 2em;
    border-radius: 4px;
    float: left;
    text-align: left;
}

#sticky.stick {
    right: 2em;
    position: fixed;
    top: 2em;
    z-index: 10000;
    border-radius: 0 0 0.5em 0.5em;
}