<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Restaurantes</h2>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="place in places" class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="{{place.logo}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{place.name}}</h4>
                        <p class="text-muted">{{place.name}}</p>
                        <!--Buttons-->
                        <div class="card-btn text-center">
                            <a ui-sref="menu({ chefId:'{{places[$index]._id}}' })" class="btn btn-success btn-md waves-effect waves-light">Cardápio</a>
                        </div>
                        <!--/.Buttons-->
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <form ng-submit="createPlace()">
                        <input class="form-control places__create-input" placeholder="Qual o nome do lugar?" ng-model="placeNameInput" />
                        <input class="form-control places__create-input" placeholder="Qual a sua logo (url)?" ng-model="placeLogoInput" />
                        <button class="btn btn-success places__create-button">Create Place</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>