<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Restaurantes</h2>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="menu in menus" class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <img src="{{menu.image}}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{menu.name}}</h4>
                        <p class="text-muted">{{menu.price}}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <form ng-submit="createMenu()">
                        <input class="form-control menus__create-input" placeholder="Qual o nome do prato?" ng-model="menuNameInput" />
                        <input class="form-control menus__create-input" placeholder="Alguma foto para o prato (url)?" ng-model="menuImageInput" />
                        <input class="form-control menus__create-input" placeholder="Qual o preço?" ng-model="menuPriceInput" />
                        <button class="btn btn-success menus__create-button">Criar prato</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

</div>